{% extends 'base.html' %}
{% load static %}
{% block head %}{% endblock %}

{% block content %}
<div ng-app="passwordmanagerApp" class="container">
    <h3>Password Manager</h3>
    <a href="{% url 'logout' %}" class="pull-right">Logout</a>
    {% verbatim %}
    {% endverbatim %}

    {% verbatim %}
    <div ng-controller="ServiceController" class="row" id="Table">
        <div ng-show="ServiceList">
            <h3>List</h3>
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="service in ServiceList">
                        <td>{{ service.page_name }}</td>
                        <td>{{ service.page_url }}</td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="getService(service.id)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="ServiceDetail">
            <h3>Details</h3>
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>URL</th>
                        <th>User</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="service in ServiceDetail">
                        <td>{{ service.id }}</td>
                        <td>{{ service.page_name }}</td>
                        <td><a href="{{ service.page_url }}" target="_blank">{{ service.page_url }}</a></td>
                        <td>{{ service.user }}</td>
                        <td>{{ service.password }}</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-default" ng-click="loadServices()">Get List
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block tail %}
<script type="text/javascript" src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-resource/angular-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services.js' %}"></script>
{% endblock %}